/* Base */

  @import url("https://use.typekit.net/aja4tbr.css");

.add {
    border: none;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: white;
    
}

.add iframe {
    
    min-width: 1000px;
    min-height: 300px; 
    border: none;
    margin-top: 60px;
    
}

#quiz {
  margin: -35px 50px 0px;
    margin-bottom: 100px;
  position: relative;
  width: calc(100% - 100px);
}

#quiz h1 {
  font-weight: 400;
  font-size: 25px;
  text-align: left;
  line-height: 44px;
}

#quiz button {
  float: right;
  margin: 8px 0px 0px 8px;
  padding: 4px 8px;
  background: #c4cfe2;
  color: #2c2c2c;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

#quiz button:hover {
  background: #9b8e8b;
  color: #FFF;
}

#quiz button:disabled {
  opacity: 0.5;
  background: #9b8e8b;
  color: #2c2c2c;
  cursor: default;
}

#question {
  padding: 20px;
  background: #FAFAFA;
}

#question h2 {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 20px;
}

#question input[type=radio] {
  display: none;
}

#question label {
  display: inline-block;
  margin: 4px;
  padding: 8px;
  background: #f0e9d8;
  color: #363535;
  width: calc(50% - 8px);
  min-width: 100px;
  cursor: pointer;
}

#question label:hover {
  background: #e2d9cb;
}

#question input[type=radio]:checked + label {
  background: #c4cfe2;
  color: #FAFAFA;
}

#quiz-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 44px;
  left: 0px;
  background: #FAFAFA;
  width: 100%;
  height: calc(100% - 44px);
}

#quiz-results-message {
  display: block;
  color: #00403C;
  font-size: 20px;
  font-weight: bold;
}

#quiz-results-score {
  display: block;
  color: #3b3b3b;
  font-size: 20px;
}

#quiz-results-score b {
  color: #3b3b3b;
  font-weight: 600;
  font-size: 20px;
}


.text-center i {
    font-size: 50px;
    margin-bottom: 20px;
}

.guide {
    z-index: 1000;
}

.italic-text {
    font-style: italic;
}


video {
  width: 80%;
  height: auto;
    margin-left: 10%;
    margin-right: 5%;
}

.numbers {
    width: 15%;
    margin-bottom: 45px;    ¨
    align-items: center;

}

.site-section img {
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
    margin-bottom: 20px;
}



.ikoner {
    margin-top: 10%;
}

.col-md-62 h2 {
    font-size: 25px;
}

@media (max-width: 768px) {
    
    .numbers {
        width: 25%;
    }
    
}

.guide-text {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%
        
}

.smaller-h2 h2 {
    font-size: 13px;
}

.row-2 h2 {
    font-size: 13px;
}
.big-image img {
    width: 80%;
}

.bigger-text i {
    font-size: 18px;
}

.two {
    margin-top: 20px;
}

.list  {
    padding-left: 10%;
}

.container-second {
    justify-content: center;
}

.video {
    display: block;
    text-align: center;
}

p {
    direction: ltr;
}

.center {
    text-align: center;
    margin-bottom: -50px;
    
}

.margin-bottom {
    margin-bottom: 5%;
}

.brand-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
    z-index: 1000;

}


@media (min-width: 767.98px) {
  .brand-header {
width: 80%; } }


@media (max-width: 767.98px) {
  .guide-text {
margin-right: 0%;
    margin-left: 0%;
    }

}
/* General */

body {
   font-family: myriad-pro, sans-serif;
  line-height: 1.7;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  font-size: 1.05rem;


font-style: normal;
  background: #f4f4f4;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  color: #000; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    font-family:'Baskervville', serif;
}


.text-black {
  color: #000 !important; }

.bg-black {
  background: #000 !important; }

.line-height-sm {
  line-height: 1.3; }

.line-height-xs {
  line-height: 1; }

.form-control {
  border-radius: 0px; }

.btn {
  border-radius: 0px; }
  .btn.btn-primary:hover {
    border-color: #98a893; }

.site-wrap {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background: #fff; }
  .site-wrap:before {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    background: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden; }
  .offcanvas-menu .site-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow: hidden; }
    .offcanvas-menu .site-wrap:before {
      opacity: 1;
      visibility: visible; }

.bg-black {
  background: #000; }

.form-control {
  height: 47px; }
  .form-control:active, .form-control:focus {
    border-color: #98a893; }
  .form-control:hover, .form-control:active, .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

/* FØRSTE ELEMENT */

.site-section {
  padding: 2em 0; }
  .site-section.site-section-sm {
    padding: 3em 0; }

.top-margin {
    padding-top: 0rem;
}

.section-counter {
    padding-top: 0rem;
}

.site-section-heading {
  font-size: 30px;
  position: relative;
  padding-bottom: 25px;
    padding-top: 10px;
}
  
  .site-section-heading:before {
    content: "";
    left: 0%;
    bottom: 0;
    position: absolute;
    width: 40px;
    height: 2px;
    background: #98a893; }
  .site-section-heading.text-center:before {
    content: "";
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    width: 40px;
    height: 2px;
    background: #98a893; }

/* FOOTER */ 

.site-footer {
  padding: 4em 0;
  background: #6d6f74;
  color: rgba(255, 255, 255, 0.5); }
  .site-footer .footer-heading {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1em; }
  .site-footer a {
    color: rgba(255, 255, 255, 0.3); }
    .site-footer a:hover {
      color: #fff; }
  .site-footer ul li {
    margin-bottom: 10px; }



@media (max-width: 767.98px) {
  .display-3, .display-2, .display-4 {
    font-size: 3rem !important; } }

@media (max-width: 991.98px) {
  .bg-md-height {
    height: 300px; } }

@media (max-width: 767.98px) {
  .bg-sm-height {
    height: 300px; } }

/* Navbar */

.site-navbar-wrap {
  position: relative;
  z-index: 99;
  padding: 0px 0;
  width: 100%;
  left: 0;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1); }

.site-navbar-top {
  display: none;
  font-size: 0.8rem;
  background: #5a9635; }
  .site-navbar-top a {
    color: #fff; }
  .site-navbar-top .text-with-icon {
    color: rgba(255, 255, 255, 0.5); }

.site-navbar-top, .site-navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.site-navbar {
  margin-bottom: 0px;
  width: 100%;
  border-bottom: none;
  background: #fff !important; }
  .site-navbar .site-logo {
    font-weight: 200; }
    .site-navbar .site-logo a {
      font-weight: 200;
      font-size: 26px;
      color: #000; }
  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0; }
    .site-navbar .site-navigation .site-menu .active > a {
      color: #baa9a5 !important; }
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      font-size: 20px;
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block;
      padding: 10px 5px; }
      .site-navbar .site-navigation .site-menu > li > a {
        padding: 10px 2px;
        text-transform: uppercase;
        letter-spacing: .07em;
        color: rgba(0, 0, 0, 0.6);
        font-size: 15px;
        text-decoration: none !important; }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: #000; }
      .site-navbar .site-navigation .site-menu > li:last-child {
        padding-right: 0; }
        .site-navbar .site-navigation .site-menu > li:last-child > a {
          padding-right: 0; }
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px; }
        .site-navbar .site-navigation .site-menu .has-children > a:before {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        border-radius: 7px;
        position: absolute;
        text-align: left;
        -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
        box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
        padding: 10px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #000;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
          position: absolute; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            bottom: 100%;
            left: 15%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #000;
            border-width: 7px;
            margin-left: -7px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #343a40;
          color: #fff; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
          color: #98a893 !important; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 200px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 5px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              color: #9b8e8b; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
            content: "\e315";
            right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
            color: #9b8e8b; }
      .site-navbar .site-navigation .site-menu .has-children a {
        text-transform: uppercase; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: #000; }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }

/* MOBIL MENU */

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #98a893; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li.active > a {
        color: #9b8e8b; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }

/* Blokke */

.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .site-blocks-cover.overlay {
    position: relative; }
    .site-blocks-cover.overlay:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.2); }
  .site-blocks-cover, .site-blocks-cover .row {
    min-height: 600px;
    height: calc(100vh); }
  .site-blocks-cover.inner-page, .site-blocks-cover.inner-page .row {
    min-height: 600px;
    height: calc(80vh); }
  .site-blocks-cover .sub-text {
    font-size: 2.1rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: .2em; }
  .site-blocks-cover h1 {
    font-weight: 700;
    color: #fff; }
    @media (min-width: 768px) {
      .site-blocks-cover h1 {
        font-size: 3rem; } }
  .site-blocks-cover p {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5; }
  .site-blocks-cover a {
    color: rgba(255, 255, 255, 0.4);
    display: inline-block;
    border-bottom: 1px dotted white !important; }
    .site-blocks-cover a:hover {
      color: #fff; }
  .site-blocks-cover .intro-text {
    font-size: 16px;
    line-height: 1.5; }

.caption {
  font-size: 13px;
  letter-spacing: .2em;
  text-transform: uppercase; }

.text-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5); }

.text-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5); }

/* MEDIA */

@media (max-width: 767.98px) {
  .site-block-feature .d-block {
    border-bottom: none !important; } }

@media (max-width: 991.98px) {
  .site-block-half .image {
    margin-bottom: 50px; } }


.block-13, .block-14, .block-15, .slide-one-item {
  position: relative;
  z-index: 1; }
  .block-13 .owl-nav, .block-14 .owl-nav, .block-15 .owl-nav, .slide-one-item .owl-nav {
    position: relative;
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    .block-13 .owl-nav .owl-prev, .block-13 .owl-nav .owl-next, .block-14 .owl-nav .owl-prev, .block-14 .owl-nav .owl-next, .block-15 .owl-nav .owl-prev, .block-15 .owl-nav .owl-next, .slide-one-item .owl-nav .owl-prev, .slide-one-item .owl-nav .owl-next {
      position: relative;
      display: inline-block;
      padding: 20px;
      font-size: 30px;
      color: #000; }
      .block-13 .owl-nav .owl-prev.disabled, .block-13 .owl-nav .owl-next.disabled, .block-14 .owl-nav .owl-prev.disabled, .block-14 .owl-nav .owl-next.disabled, .block-15 .owl-nav .owl-prev.disabled, .block-15 .owl-nav .owl-next.disabled, .slide-one-item .owl-nav .owl-prev.disabled, .slide-one-item .owl-nav .owl-next.disabled {
        opacity: .2; }
  .block-13.nav-direction-white .owl-prev, .block-13.nav-direction-white .owl-next, .block-14.nav-direction-white .owl-prev, .block-14.nav-direction-white .owl-next, .block-15.nav-direction-white .owl-prev, .block-15.nav-direction-white .owl-next, .slide-one-item.nav-direction-white .owl-prev, .slide-one-item.nav-direction-white .owl-next {
    background: #fff;
    padding: 5px 10px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .block-13.nav-direction-white .owl-prev:hover, .block-13.nav-direction-white .owl-next:hover, .block-14.nav-direction-white .owl-prev:hover, .block-14.nav-direction-white .owl-next:hover, .block-15.nav-direction-white .owl-prev:hover, .block-15.nav-direction-white .owl-next:hover, .slide-one-item.nav-direction-white .owl-prev:hover, .slide-one-item.nav-direction-white .owl-next:hover {
      -webkit-box-shadow: 5px 5px 30px -5px rgba(0, 0, 0, 0.1);
      box-shadow: 5px 5px 30px -5px rgba(0, 0, 0, 0.1); }

.block-13 .owl-stage-outer, .block-14 .owl-stage-outer, .block-15 .owl-stage-outer {
  padding-top: 30px;
  padding-bottom: 30px; }

.block-13 .owl-nav, .block-14 .owl-nav, .block-15 .owl-nav {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 0;
  bottom: auto !important;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media (max-width: 991.98px) {
    .block-13 .owl-nav, .block-14 .owl-nav, .block-15 .owl-nav {
      display: none; } }
  .block-13 .owl-nav .owl-prev, .block-13 .owl-nav .owl-next, .block-14 .owl-nav .owl-prev, .block-14 .owl-nav .owl-next, .block-15 .owl-nav .owl-prev, .block-15 .owl-nav .owl-next {
    position: absolute;
    top: 0; }
    .block-13 .owl-nav .owl-prev:hover, .block-13 .owl-nav .owl-next:hover, .block-14 .owl-nav .owl-prev:hover, .block-14 .owl-nav .owl-next:hover, .block-15 .owl-nav .owl-prev:hover, .block-15 .owl-nav .owl-next:hover {
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      background: #98a893;
      color: #fff; }
  .block-13 .owl-nav .owl-prev, .block-14 .owl-nav .owl-prev, .block-15 .owl-nav .owl-prev {
    left: -20px; }
  .block-13 .owl-nav .owl-next, .block-14 .owl-nav .owl-next, .block-15 .owl-nav .owl-next {
    right: -20px; }

.block-13 .owl-dots, .block-14 .owl-dots, .block-15 .owl-dots {
  text-align: center; }
  .block-13 .owl-dots .owl-dot, .block-14 .owl-dots .owl-dot, .block-15 .owl-dots .owl-dot {
    display: inline-block;
    margin: 5px; }
    .block-13 .owl-dots .owl-dot > span, .block-14 .owl-dots .owl-dot > span, .block-15 .owl-dots .owl-dot > span {
      line-height: 0;
      display: inline-block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      border: none;
      float: left;
      background: #cccccc;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .block-13 .owl-dots .owl-dot.active > span, .block-14 .owl-dots .owl-dot.active > span, .block-15 .owl-dots .owl-dot.active > span {
      background: #98a893; }

@media (max-width: 991.98px) {
  .border-responsive .border-right {
    border-right: none !important; } }


.site-narrow {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.2); }

.media-image {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .media-image .media-image-body {
    padding: 30px; }
  .media-image h2 {
    font-size: 1.2rem; }
  .media-image:hover {
    -webkit-box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.1); }


.btn-bg-primary {
    font-family: 
  color: #fff;
  border-color: #fff;
  padding: 10px 30px;
  border-radius: 0;
  border-width: 2px; }
  .btn-bg-primary:hover {
    color: #98a893;
    background: #fff !important; }

.slant-1 {
  height: 70px;
  position: relative;
  z-index: 0;
  border: 1px solid red; }
  .slant-1:before {
    position: absolute;
    width: 200%;
    content: "";
    background: #fff;
    top: -110px;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: rotate(-5deg) translateX(-20%);
    -ms-transform: rotate(-5deg) translateX(-20%);
    transform: rotate(-5deg) translateX(-20%); }

.first-section {
  position: relative;
  z-index: 5;
  margin-top: -70px; }
  @media (max-width: 991.98px) {
    .first-section {
      margin-top: -50px; } }

/* counter */

.counter .caption {
  display: block; }

.counter .number {
  font-family: "Oswald", arial, sans-serif;
  font-size: 4rem;
  color: #98a893; }

/* footer */

.footer-subscribe .form-control {
  background: transparent;
  border-color: #fff;
  color: #fff; }
  .footer-subscribe .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.4);
    font-style: italic; }
  .footer-subscribe .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.4);
    font-style: italic; }
  .footer-subscribe .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.4);
    font-style: italic; }
  .footer-subscribe .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.4);
    font-style: italic; }
  .footer-subscribe .form-control:focus {
    border-color: #98a893; }

.footer-subscribe .btn {
  position: relative;
  margin-left: -1px;
  color: #fff; }



/*PRELOADING------------ */
#overlayer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 7100;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.loaxder {
  z-index: 7700;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
